.Gif{
    /* border: 1px solid rgba(77, 95, 175, 0.336); */
    border-radius:10px;
    display: flex;
    flex-direction: column;
    margin: 16px;
    color: #fff;
    text-decoration: none;
    padding: 32px;
    width: 90%;
    height: 450px;
    background-color: rgba(77, 95, 175, 0.336);
    margin-top:50px;
    
}

.Gif h4 {
    margin: 0;
}

.Gif img {
    max-height: 300px;
    object-fit: contain;
}